<%- include('./partials/header')%>

<div class="container" style="background-color: black">
    <div class="nav">
        <div class="col-3" style="background-color: red">
            <h4>Test API from Hell</h4>            
        </div>
    </div>
</div>

<%- include('./partials/footer')%>